.containerDetail{
    
    position: absolute;
    background-image: url("../../image/background_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    background-attachment: fixed;
    
    width: 100%;
    min-height: 100vh;
    /* height: 100%; */
}

.cargando{
    height:100vh;
}
.mainDetail{
    /* position:relative; */
    min-height:100vh - 30px;
    
    align-items: center;
    padding: 20px;
    margin: 70px 10% 30px 10%;
    display: flex;
    flex-direction: column;
    background-color: #242329c2;
    color: rgb(230, 228, 228);
}

.nameTitle{
    color: yellow;
}
/* .image_detail{
    width: 264px;
    height: 200px;
    border: white solid 2px;
    align-items: center;
    overflow: hidden;

} */
.bloqueDetail{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: flex-end;
}
.containerSubdetail{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.datosDetail{
    color: white;
    padding-bottom: 20px;
}
.subtitleDetail{
    color: yellow;
}
.imgDetail{
    margin: 10px;
    padding: 3px;
    max-block-size: -webkit-fill-available;
    /* width: 500px; */
    height: 300px;
    border: #fff solid 2px;
}
.descriptionDetail{
    text-align:justify;
}
.closeButton{
    float: right;
    background-color: red;
    border-color: red;
    color: white;
    padding: 5px;
}


.closeButton:hover{
   
    color: black
}