.back_image {
    background-image: url("../../image/background_image.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    
  }