
.containerAbout{
    position: relative;
    margin-top: 50px;
display: flex;
flex-direction: column;
padding-left: 50vmin;
padding-right: 50vmin;
padding-bottom: 89vmin;
/* width: 100%; */
/* height: 100%; */
background-color: #efefef;
justify-content: center;
align-items: center;

}

.logoHenry{
    padding: 10px;
    width: 250px;
    background-color: black;
}